<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wyrt - 0.0.0</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <img src="static/img/Wyrt.png" alt="Wyrt - An MMO Engine" />
    <p><span id="connection-status"></span> <span id="connection">Disconnected</span></p>

    <div id="log"></div>
    <input type="text" id="msg" />

    <script type="module" src="../static/js/main.js"></script>
</body>
</html>
